body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

form * {
    font-family: Arial, sans-serif; /* Ensures consistent font style */
}

input, select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
}

input {
    margin-right: 10px;
}

select {
    appearance: none; /* Removes default OS styling */
}

select:focus, input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li span {
    flex-grow: 1;
    margin-right: 10px;
    word-break: break-word;
}

li button {
    background-color: #38bbdc;
    padding: 5px 10px;
    margin-left: 5px;
    white-space: nowrap;
    border-radius: 4px;
    cursor: pointer;
}

li button:hover {
    background-color: #1fa6ab;
}

li .delete-button {
    background-color: #dc3545;
}

li .delete-button:hover {
    background-color: #c82333;
}

label {
    font-size: 16px;
    color: #333;
    margin-right: 10px;
}

label[for="frequency-input"] {
    font-weight: bold;
}

#custom-frequency-input {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

#custom-frequency-input label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

#custom-frequency-input input[type="checkbox"] {
    margin-right: 8px;
    margin-bottom: 8px;
}
